<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhsj.FreeBird.dao.EmailMapper">

    <!--给用户回复留言信息-->
    <insert id="addEmail" parameterType="com.hhsj.FreeBird.pojo.Email">
      INSERT INTO email (`Headline`,`content`,`uid`,`uid2`,`Modify`,`type`,`haveRead`)
      VALUES('留言回复',#{content},#{uid},#{uid2},#{Modify},1,0);
    </insert>
</mapper>