<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhsj.FreeBird.dao.GoodsmessageMapper">
    <select id="findGoodsmessage" resultType="com.hhsj.FreeBird.pojo.GoodMessageCustom" parameterType="int">
              SELECT m.*,u.userName AS  userName,u.Avatar as avatar
              FROM goodsmessage AS m,userinfo AS u
              WHERE m.Uid=u.id AND m.gid=#{id}
</select>
    <insert id="addGoodsmessage" parameterType="com.hhsj.FreeBird.pojo.GoodMessageCustom">
           INSERT INTO goodsmessage(id,MODIFY,gid,content,uid,state) VALUES (#{id},#{modify},#{gid},#{content},#{uid},#{state})
    </insert>
</mapper>