/*通用型分页css文件
* Author: Keyschl
* Web:http://www.Shop7z.com/
* Tel:0311-85315152 13102887321
*/
.page{width:500px;margin:0 auto;color:#333;font-size:1.6rem;margin-bottom:2px;margin-top:15px}.page input{width:60px;height:25px;border-radius:2px;border:1px solid #ccc;cursor:pointer}.page input:hover{background:#AAA}