<html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>闲鸟-发布求购商品</title>
    <link rel="stylesheet" type="text/css" href="css/dmaku.css"/>
    <link href="css/top.css" rel="stylesheet" type="text/css"/>
    <link href="css/item.css" rel="stylesheet" type="text/css"/>
    <link href="css/bottom.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/layer.js"></script>
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/_layout.js"></script>
</head>
<body>
<div class="nav">
    <div class="nav_content">
        <div class="user">
            <div class="car">
                <a href="cart.html"><img src="images/car.png"></a>
                <span>0</span>
            </div>
            <div class="userlogo">
                <img src="images/icon-user_47dae1a.jpg">
                <div class="user_meua">
                    <a href="order.html">我的订单</a>
                    <a href="#">帮助与反馈</a>
                    <a href="#">联系我们</a>
                    <div style="display: none">
                        <a href="userinfo.html">尊敬的 <b>user</b></a>
                        <a href="userinfo.html">我的资料</a>
                        <a href="order.html">我的订单</a>
                        <a href="cart.html">我的购物车</a>
                        <a href="#">退出登陆</a>
                    </div>
                </div>
            </div>
            <div class="search">
                <form method="post" action="#">
                    <input placeholder="魅族M5手机" required="true" name="name" type="text" id="myword">
                    <input type="image" src="images/search.png"
                           style="float:right;margin-top:6px; margin-right:6px;width:20px;height:20px;"></form>
            </div>
        </div>
        <ul class="nav_link">
            <li><img src="images/web.gif" style="width: 200px;height:80px;margin-left: -600px;margin-top: -10px"/></li>
            <li><a href='index.html'>首页</a></li>
            <li>
                <a href='List.html'>热卖商品</a>
            </li>
            <li>
                <a href='List.html'>促销商品</a>
            </li>
            <li><a href="userinfo.html">用户中心</a>
            </li>
            <li><a href="Browser.html">我的足迹</a></li>
        </ul>
    </div>
</div>
<div class="main main_bg1 main_bg2">

</div>

<div class="footer">
    <p>@版权所有 北大青鸟 鸿鹄狮鹫</p>
</div>
<script src="css/user.js"></script>
</body>
</html>