<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<html>
<head>
    <title>当当网系统</title>
</head>
<link href="css/bottom.css" rel="stylesheet" type="text/css"/>
<body>
<div class="footer">
    <div class="footer_content">
        <ul class="footer_item">
            <li>联系方式：</li>
            <li class="tit">15979675043</li>
            <li class="tit">1730548276@qq.com</li>
        </ul>

        <ul class="footer_item">
            <li>购物指南</li>

            <li><a href="#">选择配送方式</a></li>

            <li><a href="#">付款收货</a></li>

            <li><a href="#">挑选商品</a></li>

        </ul>

        <ul class="footer_item">
            <li>送货说明</li>

            <li><a href="#">购物流程</a></li>

            <li><a href="#">订购方式</a></li>

            <li><a href="#">注意事项</a></li>

        </ul>

        <ul class="footer_item">
            <li>支付方式</li>

            <li><a href="javascript:void(0)">货到付款区域</a></li>

            <li><a href="javascript:void(0)">支付方式说明</a></li>

            <li><a href="javascript:void(0)">货到付款</a></li>

        </ul>

        <ul class="footer_item">
            <li>服务政策</li>

            <li><a href="javascript:void(0)">售后服务</a></li>

            <li><a href="javascript:void(0)">退换货原则</a></li>

            <li><a href="javascript:void(0)">其他服务协议</a></li>

        </ul>

        <ul class="footer_item">
            <li>关于我们</li>

            <li><a href="javascript:void(0)">关于我们</a></li>

            <li><a href="javascript:void(0)">如何联系我们</a></li>

            <li><a href="javascript:void(0)">合作加盟</a></li>
        </ul>
    </div>
</div>
<div class="Shop7z_kefu">
    <div id="service">
        <ul>
            <li>
                <a href="javascript:void(0)" class="weixin_area">
                    <img src="images/l02.png" width="47" height="49" class="shows"/>
                    <img src="images/a.png" width="57" height="49" class="hides"/>
                    <img src="images/qd.png" width="145" class="weixin"
                         style="display:none;margin:-100px 57px 0 0"/>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" target="_blank">
                    <div class="hides" style="width:161px;display:none;" id="qq">
                        <div class="hides" id="p1">
                            <img src="images/ll04.png"/>
                        </div>
                        <div class="hides" id="p2"><span style="color:#FFF;font-size:13px">1599428958</span>
                        </div>
                    </div>
                    <img src="images/l04.png" width="47" height="49" class="shows"/>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <div class="hides" style="width:161px;display:none;">
                        <div class="hides" id="p1">
                            <img src="images/ll05.png"/>
                        </div>
                        <div class="hides" id="p3"><span style="color:#FFF;font-size:12px">12345678991</span>
                        </div>
                    </div>
                    <img src="images/l05.png" width="47" height="49" class="shows"/>
                </a>
            </li>
            <li>
                <a id="top_btn">
                    <div class="hides" style="width:161px;display:none">
                        <img src="images/ll06.png" width="161" height="49"/>
                    </div>
                    <img src="images/l06.png" width="47" height="49" class="shows"/>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
